@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap'); /* Importa la fuente Nerko One */

*{
    margin: 0;
    padding: 0;
}

body{
    background: radial-gradient(circle at center, #cdecd9, #f7e7d1, #cae5f3, #f3cfcf);
    color: black;
}

header{
    display: flex;
    height: 12vh;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}

header > p {
    padding-left: 10px;
}

header > h1{
    color: #6bbb89;
    text-shadow: 1px 1px 3px black;
    padding: 0 0 5px 10px;
    font-size: 30px;
}

nav{
    display: flex;
    height: 8vh;
    width: 100vw;
    background-color: #A1EEBD;
    align-items: center;
}

nav > article > h2 {
    font-size: 20px;
}

#inicio-nav{
    padding: 5px 20px;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 100vw;
    display: flex;
    flex-direction: column;

}


table {
    font-family: 'Nerko One', sans-serif;
    margin: auto;
    margin-top: 50px;
    width: 70%;
    height: 50%;
    text-align: center;
    box-shadow: 15px 20px 15px #5c5c5b; /* Sombra de la tabla */
    background-color: transparent; /* Fondo transparente */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 20px;
}

#empty {
    background-color: transparent; /* Fondo transparente */
    border: none; /* Sin borde */
}

.horario {
    width: 12%;
    font-size: 18px;
}

td, th {
    width: 100px;
    background-color: white;
    padding: 12px 8px;
    border: 1px solid black;
    border-radius: 5px; /* Bordes redondeados */
    font-size: 18px;
}

th:not(#empty), .horario {
    background-color: #FADADD;
}

#recreo {
    letter-spacing: 100px; /* Espaciado entre letras */
    font-size: 25px;
    padding: 2px;
    background: radial-gradient(circle at center, #FFFFFF, #FADADD);
}

/* Colores de fondo para diferentes clases */
.sis {
    background-color: #F7B5CA;
}

.bbdd {
    background-color: #F4D19B;
}

.ide {
    background-color: #A1EEBD;
}

.lmsgi {
    background-color: #AEE2FF;
}

.fol {
    background-color: #FF8080;
}

.prog {
    background-color: #EBEF95;
}

.dasp {
    background-color: #82A0D8;
}

.sasp {
    background-color: #99BC85;
}


footer{
    display: flex;
    height: 10vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background-color: black;
}

footer > h3{
    color: white;
    font-size: 20px;
}